@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Rubik:wght@400;500;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('background-image.jpg');
    background-size: cover;
    font-family: 'Arimo', sans-serif;


}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box {
    min-width: 400px;
    background: #FAFAFA;
    border-radius: 30px;
    text-align: center;
    position: relative;
}


.box::before {
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    z-index: -1;
}

h1 {
    font-weight: bold;
    font-size: 35px;
    padding: 30px 0;
}

.content {
    padding: 0 40px;

}

.input {
    background: #FFF;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.input label {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.input input {
    outline: none;
    border: none;
    border-bottom: 1px solid #4f7df9;
    width: 60%;
    text-align: center;
    font-size: 25px;
    font-family: 'Arimo', sans-serif;
}

button#calculateBtn {


    font-family: 'Arimo', sans-serif;
    color: #FFF;
    background-color: #4f7df9;
    font-size: 16px;
    border-radius: 12px;
    width: 100%;
    padding: 12px 0;
    outline: none;
    border: none;
    transition: background .2s ease;
}

button#calculateBtn:hover {
    background: #0044ff;

}

.result {
    padding: 30px 20px;
}

.result p {
    color: black;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
}

#result {
    font-size: 36px;
    font-weight: 900;
    color: #4f7df9;
    background-color: #eaeaea;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 25px;

}

#comment {
    color: #4f7df9;
    font-weight: 800;
    text-transform: uppercase;
}